{% extends 'Certificates/layout.html' %}

{% block title %}
Delete
{% endblock %}

{% block body %}

<div class = "col-6 deleteform">
<form action = {% url 'Certificates:deleteMyCertificate' %} method = "post">
    {% csrf_token %}
<h1 class = "lineH1"> Delete from my Certificates </h1>
<p class = "paragraph">Please choose a certificate to delete</p>

<select Name = "certificate" id = "" class = "dropDownList" required>


    {% for cert in certi%}
    <option value = "{{ cert.course.courseid }}">{{ cert.course.cname}}, {{ cert.course.ccompany }}</option>
    {% endfor %}

</select>

<div>
<button type = "submit" class = "deletebutton">Delete</button>
</div>

</form> 



<a href = "{% url 'Certificates:view' %}">
    <button class = "deleteformbackbutton">
        Back
    </button>
</a> 
</div>


{% endblock %}