{% extends 'Food/layout.html' %}

{% block title %}
Add
{% endblock %}

{% block body %}

<div class = "col-6 addform">
<form action = {% url 'food:add' %} method = "post">
    {% csrf_token %}
<h1> Add Certificate </h1>

<div>
<label for ="" class = "labelForm">Name</label>
{{ form.cname }}
</div>

<div>
<label for ="" class = "labelForm">Company</label>
{{ form.ccompany }}
</div>

<button type = "submit" class = "addbutton">Add</button>

</form>

<a href = "{% url 'food:menu' %}">
    <button class = "addformbackbutton">
        Back
    </button>
</a>
</div>


{% endblock %}