{% extends 'Food/layout.html' %}


{% block title %}
View
{% endblock %}



{% block body %}

  
  <div class = "col-12">
  
      <table class = "table-content">
            <thead>
                  <th>Certificate Name</th>
                  <th>Certificate Date</th>
                  <th>Company</th>
            </thead>
                      <tbody>
                        {% for cert in certi %}
                              <tr>
                                    <td>{{ cert.course.cname }}</td> <!-- New Added , cert is object from granted table -->
                                    <td>{{ cert.grantedDate }}</td>  <!-- New Added , cert is object from granted table -->
                                    <td>{{ cert.course.ccompany }}</td> <!-- New Added , cert is object from granted table -->
                              </tr>
        
                              {% endfor %}
        
                      </tbody>
        </table>
        
  </div>

<div class = "col-12 viewbuttons">
      <a href = "{% url 'food:deleteMyCertificate' %}"> 
            <button>
                Delete
            </button>

            <a href = "{% url 'food:updateMyCertificate' %}">
                  <button>
                      Update
                  </button>

</div>

  
  <div class = "col-8">
      <a href = "{% url 'food:menu' %}" style = "text-decoration: none;">
            <button class = "viewbackbutton">
                Back
            </button>
      
      </div>
  
  </div>
  </div>

  

{% endblock %}