{% extends 'Food/layout.html' %}

{% block title %}
Update
{% endblock %}

{% block body %}

<div class = "col-6 updateform">
<form action = {% url 'food:updateMenuCertificate' %} method = "post">
    {% csrf_token %}
<h1> Update from menu certificates </h1>
<p>Please choose a certificate to Update</p>

<select Name = "certificate" id = "" class = "dropDownList">

    {% for cert in certi%}
    <option value = "{{ cert.courseid }}">{{ cert.cname}}, {{ cert.ccompany }}</option>
    {% endfor %}

</select>

<div class = "updatefield">

<label for ="" class = "labelForm">Certificate Name:</label>
<input class="usernamefield" type="text" name = "cname" required>

<label for ="" class = "labelForm">Company:</label>
    <input class="usernamefield" type="text" name = "ccompany" required>
</div>


<div>
    <button type = "submit" class = "deletebutton">Update</button>
</div>





</form> 



<a href = "{% url 'food:view' %}">
    <button class = "deleteformbackbutton">
        Back
    </button>
</a> 
</div>


{% endblock %}